<div class="form-container">
  <h2>Registrar Empleado</h2>
  <input type="text" placeholder="Nombre" [(ngModel)]="empleado.nombreEmpleado">
  <input type="text" placeholder="Dirección" [(ngModel)]="empleado.direccion">
  <input type="number" placeholder="Edad" [(ngModel)]="empleado.edad">
  <input type="text" placeholder="Puesto" [(ngModel)]="empleado.puesto">

  <button (click)="registrarEmpleado()">Guardar</button>
  <button class="limpiar" (click)="limpiarFormulario()">Limpiar</button>
</div>
