<div class="form-container">
  <h2>Registrar Factura</h2>

  <label for="clienteId"><strong>ID Cliente</strong></label>
  <input type="number" [(ngModel)]="clienteId" placeholder="ID Cliente" />
  <input type="date" [(ngModel)]="fechaFactura" placeholder="Fecha" />

  <table>
    <thead>
      <tr>
        <th>ID Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productos; let i = index">
        <td><input type="number" [(ngModel)]="p.productoId" (ngModelChange)="actualizarTotal()" /></td>
        <td><input type="number" [(ngModel)]="p.cantidad" (ngModelChange)="actualizarTotal()" /></td>
        <td><input type="number" [(ngModel)]="p.precioUnitario" (ngModelChange)="actualizarTotal()" /></td>
        <td><button type="button" (click)="eliminarProducto(i)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>

  <button type="button" (click)="agregarProducto()">Agregar Producto</button>

  <p class="total">Total: GTQ{{ total.toFixed(2) }}</p>

  <button type="button" (click)="registrarFactura()">Guardar Factura</button>
  <button type="button" (click)="limpiarFormulario()" style="background-color: #dc3545;">
    Limpiar
  </button>
</div>
